# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.html

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work